[Unit]
Description=USB Backup Service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/usr/local/bin/usb-backup
ExecStart=/usr/local/bin/usb-backup-runner.sh

[Install]
WantedBy=multi-user.target